<div class="admin-form">
  <h2 class="article-title">
    New Feed For - <%= @publisher.name %>
  </h2>
  
  <%= form_for @feed, 
               url: admin_publisher_feeds_path(@publisher), 
               html: {multipart: true, method: :post} do |f| %>
 
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
  
  <div class="tabular-association">
    <%= render partial: 'shared/articles', 
               locals: {articles: @articles} %>
  </div>
</div>