<div>
  <h2 class="article-title">
		<a href="<%= @publisher.homepage %>" 
			 target="_blank"
			 title="<%= @publisher.name %> Homepage - opens in a new tab">
			<%= @publisher.name %>
		</a>
	</h2>

  <%= render partial: 'shared/articles', 
             locals: {articles: @publisher.articles.order(publication_date: :desc)} %>
</div>