<div id="contact" class="static-page">	

	<article>
		<div class="content-container">
			<h2>Contact Us</h2>
			<p>Thank you for reaching out. We will respond to your request within the next few days. 
			</p>
		</div>
	</article>

</div>