<div id="about" class="static-page">	

	<div id="static-menu">
		<ul class="nav">
			<li>
				<a class="selected" href="<%= about_path %>">About Us</a>
			</li>
			<li>
				<a href="<%= terms_path %>">Terms and Conditions</a>
			</li>
		</ul>
	</div>

	<article>
		<div class="content-container">
			<h2>What</h2>
			<p>With so much great sailing information floating around out there in the online ocean we know	it can be hard to find.  Whether you are a sailing race enthusiast, a casual day sailor, a sailing vacation lover, a cruiser living the life, or a cubicle daydreamer -you need great content to feed your habit or to just get better at what you do. Here at the Mariner Report we want to throw a net around all that content and provide you with quick	access to it in one conveinent location.  We keep an eye on major sailing publications, blogs, podcasts and other news outlets and present you with the latest and greatest.

			Save, share, or just grab a cup of coffee and cruise around!
			</p>
		</div>

		<div class="content-container">
			<h2>WHY</h2>
			<p>As avid sailors, when we aren't sailing we are surfing the internet for sailing news, eduacational material, travel and charter planning info, or blogs to get through our cubicle dwelling non-sailing hours. We were frustrated by the fact that we had to hunt and peck around the internet just to find sailing content. So, we decided to curate the content and put all in one place for ourselves and for you our fellow sailors. </p>
		</div>
	</article>

</div>