<div id="advertise" class="static-page">	
	<article>
		<div class="content-container">
			<h2>Advertising Opportunities</h2>
			<p>Click on the '<a href="<%= new_contact_path %>">Contact</a>' link below to let us know that you're interested in advertising with us</p>
		</div>
	</article>
</div>