 <div id="terms" class="static-page">

	<div id="static-menu">
		<ul class="nav">
			<li>
				<a href="<%= about_path %>">About Us</a>
			</li>
			<li>
				<a class="selected" href="<%= terms_path %>">Terms and Conditions</a>
			</li>
		</ul>
	</div>

	<article>
		<div class="content-container">
	<h2>Nature of Service</h2>

MarinerReport.com provides curated sailing content for display online.  We provide headlines and photographs or thumbnails on sailing content that has been posted on websites, in blogs, podcasts, or video hosting sites from around the world.  Links to the sites (feeds) have been acquired through the available RSS feeds.  All articles, videos, podcast episodes headlines link out to the original content providers site.  Full attribution for publication is provided on MarinerReport.com in a clear and obvious format.  Most if not all content providers have dedicated pages within the site that isolate their headline content.  This content still directly links to the original publishers site for consumption.  MarinerReport.com has categorized this content into logical groupings to facilitate the discovery of each article, podcast, blog post, video, or photograph.  
</div>

<div class="content-container left">

<h2>Terms and Conditions of Use</h2>
<ol>
<li><strong>MarinerReport.com (hereinafter at time referred to as “We”) has the right to discontinue or suspend our site or terminate your use:</strong> We reserve the right to at any time modify or discontinue, temporarily or permanently, our site (or any part thereof) with or without notice. You agree that MarinerReport.com shall not be liable to you or any third party for any such modification, suspension or discontinuance of our site. 
</li>
<li><strong>We reserve the right to terminate your access to our site for any reason.</strong>  Further, we can take any and all other actions that we believe to be in the interest of Mariner Report or its partners and of our users as a whole.  
</li>
<li><strong>This site contains content (including all text, photographs, graphics, video and audio content) that is protected by copyright as a collective work or compilation under the copyright laws of the United States and other countries.</strong> All individual articles, blogs, videos, content, and all other elements comprising MarinerReport.com are copyrighted works.  You must abide by all copyright notices or restrictions contained on our site.  

 All original content is owned by MarinerReport.com and as such is protected by all United States copyright law. 
</li>
<li>
 <strong>The original content publisher as indicated by the attribution on MarinerReport.com shall be solely responsible for the content of their article, all text, photographs, graphics, video and audio content and any consequences of posting or publishing them.</strong>   MarinerReport.com does not take or hold responsibility for the acquisition of rights, licenses, or authorization to use or display, or for the disclosure of patent, trademark, trade secret, copyright or other proprietary rights.  In addition, the original content publisher as indicated by the attribution on MarinerReport.com is responsible for any required written consent, release, and/or permission of each and every such identifiable individual person in any article, blog post, photograph, and any and all graphic, video or audio content.  This includes permission to use the name or likeness of each and every such identifiable person to enable inclusion and use of such in any article, blog post, photograph, and any and all graphic, video or audio content.   
</li>

<li><strong>MarinerReport.com is not responsible for any content that is identified on and displayed on MarinerReport.com that is otherwise copyrighted or protected by trade secret or otherwise subject to third party proprietary rights, including privacy and publicity rights, unless publisher / poster is the owner of such rights or has permission from the rightful owner to post the material and has use of all rights granted.</strong>  MarinerReport.com is not responsible for any published falsehoods or misrepresentations that could damage us or any third party.  We are also not responsible for material content (text, photographs, blog post, graphic, video or audio) that is unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, encourage conduct that would be considered a criminal offense, gives rise to civil liability, violates any law, or is otherwise inappropriate.  
</li>

<li><strong>You Have Rights if You Believe Your Copyright is Being Infringed.</strong> If you are a copyright owner or agent thereof and believe that any of our content infringes upon your copyright, please notify MarinerReport.com in writing via US Mail.  
</li>

<li><strong>We are not responsible for and do not necessarily hold the opinions expressed by the content contributors on MarinerReport.com.</strong>  Any and all opinions, statements, or other sentiment expressed by the publishers on this site (e.g. bloggers, podcasters, video publishers, magazines, websites, or advertisers) are theirs alone and not the opinions of MarinerReport.com.  The content publishers on MarinerReport.com assume all responsibility for accuracy and completeness and not endorsed or guaranteed.  We do not take any liability or obligation relating to the content.  No partners or employees of MarinerReport.com or its affiliate businesses assume responsibility or liability which may arise from the content thereof including, but not limited to, claims for defamation, libel, slander, infringement, invasion of privacy and publicity rights, obscenity, pornography, profanity, fraud, or misrepresentation.  We reserve the right to block or remove communications, postings, or materials at any time in our sole discretion.  
</li>

<li><strong>MarinerReport.com is “as is”.  We do not warrant that our site will be uninterrupted or error-free.</strong>  We are not responsible for any delays, omissions, or inaccuracies in the news or other materials curated by and displayed on MarinerReport.com.  
</li>

<li><strong>We are not responsible for the availability of the site or content availability for linked sites.</strong> 
MarinerReport.com does not support or maintain any of the sites that are linked on MarinerReport.com.  Due to this we do not guarantee availability.  We are also not responsible for any goods or services available on or purchased through the linked sites.  
</li>

<li><strong>MarinerReport.com cannot and will not be held liable for any claims, losses or damages, resulting from violations of these Terms and Conditions.</strong> 
</li>
<li><strong>MarinerReport.com holds legal right to all of the intellectual property of the site.</strong> MarinerReport.com owns the service and all intellectual property rights related to it.  Including and not limited to the copyrights of our web page designs and content, the arrangement and organization of the Feeds, the complete manner in which the service executes and operates.  The logos and trademarks we use are the sole property of MarinerReport.com.  Use of such must be requested in writing.  
</li>

<li><strong>Any dispute between us will be governed by California state law.</strong>  These Terms and Conditions shall be governed by the laws of the United States and the State of California, applicable to agreements made and to be performed therein without regard to conflict of laws principles.  By using this site you agree to abide by these terms and conditions.  
</li>
<li><strong>We reserve the right to modify or change these Terms of Service at any time.</strong>  These and all changes to the Terms of Service become effective when published.  It is your responsibility to monitor these Terms of Service for changes or modifications.  By accessing the site after any changes have been published you agree to be held responsible for compliance with the new or revised terms. 
</li>
</ol> 
</div>

Effective date of Terms of Use:  April 7, 2016
<br />
© 2016 MarinerReport.com – All Rights Reserved.
</div>
</article>
</div>

	