<div class="blog-entry">
	<h2 class="article-title">Edit Post</h2>
	<hr />
	
	<div class="error"><%= @post.errors.map{|f, m| f.to_s + ' ' + m}.join('<br />').html_safe %></div>
	
  <%= form_for @post, 
               url: admin_post_path(@post.slug), 
               html: {multipart: true, method: :put} do |f| %>
	
		<%= render partial: 'form', locals: {f: f} %>
			
	<% end %>
</div>