<div class="admin-form">
  <h2 class="article-title">
    New Publisher
  </h2>

  <%= form_for @publisher, 
               url: admin_publishers_path, 
               html: {multipart: true, method: :post} do |f| %>
    
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>

</div>