$serif-fonts: "Times New Roman", Times, serif;;
$sans-serif-fonts: Verdana, Geneva, sans-serif;

.content { 
  width: 95%;

  #logo a img {
    height: 150px;
    width: 400px;
    margin-bottom: 25px;
  }
}
.feature-container {
  height: auto;

  .title-card {
    margin-top: 75%;
    margin-left: 26%;
  }
}

$break-small: 320px;
$break-medium: 768px; /* iphone */
$break-large: 1010;

$light-grey: #e6e6e6;
$med-grey: #595959;
$dark-grey: #4D4D4D;

$light-blue: #0063cc;
$med-blue: #004b99;
$dark-blue: #00254d;

$red: #e60000;

$fb-blue: #004b99;


/* app css stylesheet */
body {
  max-width: 1400px;
	
  font-family: $sans-serif-fonts;
  font-size: 14px;
}

/* GENERAL FORMATTING */
.left { text-align: left; }
.center { text-align: left; }
.right { text-align: left; }

.required { color: $red; }

.form-error {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-top: -2px;
  margin-left: -10px;
  
  color: $red;
  font-size: .65rem;
  font-weight: bold;
}

.byline {
  font-size: .75rem;
}

textarea { font-family: $sans-serif-fonts; }

/* HEADER */
/* ----------------------------------------------------------- */
.content {
  margin: 0 auto;
  
  #logo {
    text-align: center;
    z-index: 9999;

    img {
      max-width: 100%;
      height: auto !important;
    }
  }
  
  /* HEADER */
  /* ---------------------------------------------- */
  header {
    .menu {
      margin-top: -30px;
      position: relative;
  
      z-index: 9990;
  
      text-transform: uppercase;
      letter-spacing: 1px;
  
      overflow: hidden;
  
      border: none;
      border-bottom: #e6e6e6 2px solid;
  
      .nav li {
        display: inline;
        margin-right: 20px;
    
        a {
          text-decoration: none;
          font-size: .9rem;
          color: $med-grey;
        }
        a.selected {
          font-weight: bold;
          color: $dark-grey;
        }
      }

      #menu-left {
        float: left;
        margin: 5px 0 -5px -10px;
      }
      #menu-right {
        margin-top: 17px;
        margin-right: 25px;
        float: right;
      }
    }
  }

  /* MAIN PAGE CONTENT */
  /* ---------------------------------------------- */
  main {
    margin-top: 5px;
    padding: 10px 20px;
    
    div {
      padding: 0 auto;
    }
  }

  /* FOOTER */
  /* ---------------------------------------------- */
  footer {
    position: relative;
    text-align: center;

    z-index: 9990;

    text-transform: uppercase;
    letter-spacing: 1px;

    overflow: hidden;

    border: none;
    border-top: #e6e6e6 2px solid;
  
    .nav li {
      display: inline;
      margin-right: 50px;
  
      a {
        text-decoration: none;
        font-size: .8rem;
        color: $med-grey;
      }
    }
  }
}

/* STATIC PAGES */
/* ------------------------------------------------------------ */
.static-page {
  position: relative;
  text-align: center;
  
  overflow: auto;
  
  #static-menu {
    text-transform: uppercase;
    letter-spacing: 1px;

    overflow: hidden;

    border: none;
    
    .nav li {
      display: inline;
      margin-right: 20px;
    
      a {
        text-decoration: none;
        font-size: .8rem;
        color: $med-grey;
      }
      a.selected {
        font-weight: bold;
        color: $dark-grey;
      }
    }
  }
  
  article .content-container {
/* TODO: Figure out if this is what makes the images scroll */
    max-width: 650px;
  }

  .content-container {
    border: 1px solid #ccc;
    margin: 58px auto 65px auto; 
    padding: 0 20px 10px;
  
    overflow: auto;
    
    li{ 
      padding: 5px 0;
     }

    h2 {
      background: #fff;
      margin: 13px auto 32px;
      padding: 0 10px;
      width: 40%;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: normal;
    }
  
    form {
      text-align: left;
      padding: 20px 0;
    
      font-size: 1rem;
    
      label {
        display: inline-block;
        width: 200px;
        text-align: right;
        vertical-align: top;
      }
    
      ul {
        padding-left: 25px;
      }
    
      input, textarea {
        font-size: 1rem;
        margin-bottom: 15px;
        padding: 5px;
        border: $med-grey .5px solid;
      }
    
      input[type="text"], input[type="email"], textarea {
        width: 250px;
        border-radius: 4px;
      }
    
      input[type="submit"] {
        width: 200px;
        border-radius: 8px;
        color: #fff;
        background-color: $light-blue;
        margin-top: 10px;
        text-transform: uppercase;
        border: none;
      }
    
      .field_with_errors {
        display: inline;
      }
    }
  }
}

/* FEATURES */
/* ------------------------------------------------------------ */
.feature-container {
  width: 98%; 
  margin: 1px auto 35px auto;
  position: relative;
	
  .feature-card {
		position: relative;
    height: 350px;
    width: 100%;
   
	  background-color: $light-grey;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    
    box-shadow: 0 0 3px 3px white inset;

		a {
			position: relative;
			vertical-align: bottom;
			
	    .title-card {
				position: relative;
				width: 55%;
				margin: 0 auto 0 auto;
			
	      color: #000;
	      text-align: center;
	      font-size: 1.2rem;
      
	      background-color: #FFF;
	      opacity: 1;
  
	      padding: 8px;
			
				h4 {
					vertical-align: bottom;
				}
	    }
		}

  }
}

/* ARTICLES */
/* ------------------------------------------------------------ */
.article-separator {
  width: 50%;
  margin: -20px auto 25px auto;
  
  hr {
    color: $light-grey;
  }
  
  .article-title {
    margin-bottom: 0px;
    color: $med-grey;
  }
}

.article-title {
  text-align: center;
  text-transform: uppercase;
  font-family: $sans-serif-fonts;
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 25px;
  letter-spacing: 8px;
  padding-left: 10px;
}

.articles {
  font-size: 0;
  /*margin: 1px auto 35px auto;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
	
  a {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 6px);
    margin-right: 6px;
    
    figure {
      overflow: hidden;
      margin: 2px;
      margin-bottom: 25px;

      width: 98%;
      height: 250px;
      object-fit: cover;
      
/*	    background-color: $light-grey;*/
	    background-repeat: no-repeat;
	    background-size: cover;

	    box-shadow: 0 0 3px 3px white inset;
      
      transition: transform .2s ease-in-out;
      
      .title-card {
        float: left;
        position: relative;
        left: 0px;
				top: 152px;
        width: 95%;
        overflow: hidden;
        
        z-index: 1000;

        color: #000;
  
        background-color: $light-grey;
        opacity: 0.9;
  
        padding-left: 8px;
  
        h4 {
          height: 38px;
          overflow: hidden;
          margin-top: 5px;
    
          font-size: .9rem;
        }
      }
    }
		figure:hover{
			transform: scale(1.02);
		}
  }
  a:nth-of-type(2n) {
    margin-right: 0;
  }

}

@media screen and (min-width: 20em) and (max-width: 45em) {
/*  body::before{ content: "Media query (> 20em < 45em) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9);  position: absolute; top: 0; left: 0; right: 0; z-index: 99; } */

  .articles {
    a {
      width: calc(100% - 10px);
    }
    a:nth-of-type(2n){
      margin-right: 10px;
    }
    a:nth-of-type(3n){
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 80em) {
/*  body::before{ content: "Media query (> 80em) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9);  position: absolute; top: 0; left: 0; right: 0; z-index: 99; } */

  .articles {
    a {
      width: calc(33% - 10px);
    }
    a:nth-of-type(2n){
      margin-right: 10px;
    }
    a:nth-of-type(3n){
      margin-right: 0;
    }
  }
}

.article-container {
  position: relative;
  overflow: auto;
  margin: 0 auto;
}

.article-row, .explore-row {
  position: relative;
  width: 98%;
  margin: 0 auto;

  .new-row {
    clear: left;
  }

  .article-card {
    
    background-color: $light-grey;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 0 3px 3px white inset;

    a {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 8px;
    }
  }

  .explore-card {
    position: relative;
    float: left;
    
    height: 200px;
    width: 200px;
    
    margin: 5px 5px;
    
    background-color: $light-grey;
    background-repeat: no-repeat;
    background-size: cover;
    
    .title-card {
      margin-top: 51%;
      position: relative;
      vertical-align: bottom;
      height: 60px;
      overflow: hidden;
      
      background-color: $light-grey;
      opacity: 0.9;
      
      padding: 8px;
      
      h4 a {
        width: 95%;
        color: #000;
        font-weight: 50;
        text-decoration: none;
        margin-bottom: 5px;
      }
    }
  }
}

a.admin-links {
  text-decoration: none;
  margin-left: 15px;
  
  background-color: $med-blue;
  font-size: .85rem;
  font-weight: bold;
  color: #FFF;
  padding: 2px 8px;
  
  border-radius: 8px;
}

.admin-form {
  
  form {
    text-align: left;
    font-size: 1rem;
    
    .field-group {
      margin: 10px 0;  
    }
  
    label {
      display: inline-block;
      width: 200px;
      text-align: right;
      vertical-align: middle;
    }
  
    ul {
      padding-left: 25px;
    }
  
    input, textarea {
      font-size: 1rem;
      color: $med-grey;
      margin-bottom: 15px;
      padding: 5px;
      border: $light-grey 1px solid;
    }
  
    input[type="text"], input[type="email"], input[type="url"], textarea {
      width: 450px;
      border-radius: 4px;
    }
    
    select {
      color: $med-grey;
      border: $light-grey 1px solid;
      width: 465px;
      font-size: 1rem;
      padding: 5px;
    }
  
    input[type="submit"] {
      width: 200px;
      border-radius: 8px;
      color: #fff;
      background-color: $med-blue;
      margin-top: 10px;
      text-transform: uppercase;
      border: none;
    }
  
    .field_with_errors {
      display: inline;
    }
  }
  
  .tabular-association {
    width: 95%;
    margin: 10px auto;
    
    border: #000 1px solid;
    padding: 5px 10px;
    
    table {
      margin-top: 15px;

      th {
        background-color: $med-blue;
        border-radius: 5px;
        color: #FFF;
        padding: 5px;
        
        a {
          color: #FFF;
        }
      }
    
      td {
        font-size: .8rem;
        border: $light-grey 1pt solid;
      }
    }
  }
}