$serif-fonts: "Times New Roman", Times, serif;;
$sans-serif-fonts: Verdana, Geneva, sans-serif;

.content { 
	width: 95%;

	#logo a img {
	  height: 150px;
	  width: 400px;
		margin-bottom: 25px;
	}
}
.feature-container {
	height: auto;

  .title-card {
    margin-top: 75%;
		margin-left: 26%;
	}
}
.article-row .article-card, .explore-row .article-card {
	height: auto;
	width: 25%;
	margin: 15px 13px 35px 13px;
}


/* computer && ipad lanscape */
/* --------------------------------------------- */
/* @media only screen and (min-width : 1280px) { */
/*
	.content { 
		width: 1200px;
	}
	.article-row .article-card, .explore-row .article-card {
		height: 250px;
		width: 350px;
		margin: 15px 13px 35px 13px;
	}
*/
/* } */

/* Small computer screen */
/* --------------------------------------------- */
	/*
@media only screen and (min-width : 1024px) {
	.content { 
		width: 1014px;

		#logo a img {
		  height: 150px;
		  width: 400px;
			margin-bottom: 25px;
		}
	}
	.feature-container {
		height: 350px;
	
	  .title-card {
	    margin-top: 250px;
			margin-left: 26%;
		}
	}

	.article-row .article-card, .explore-row .article-card {
		height: 200px;
		width: 300px;
		margin: 15px 8px 35px 8px;
	}
	
	body::before{ content: "Tablet media query (> 1024) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9);  position: absolute; top: 0; left: 0; right: 0; z-index: 99; } 
}
*/
/* ipad portrait */
/* --------------------------------------------- */
/*
@media only screen and (max-width : 768px) {
	.content { 
		width: 748px;

		#logo a img {
		  height: 114px;
		  width: 300px;
			margin-bottom: 10px;
		}
	}
	.feature-container {
		height: 263px;
		
	  .title-card {
	    margin-top: 185px;
			margin-left: 30%;
	    height: 25%;
			width: 45%;
		}
	}
	.article-row .article-card, .explore-row .article-card {
		height: 230px;
		width: 330px;
		margin: 15px 8px 35px 8px;
	}
	
	body::before{ content: "Tablet media query (< 768) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9);  position: absolute; top: 0; left: 0; right: 0; z-index: 99; } 
}
*/
/* iphone landscape */
/* --------------------------------------------- */
/*
@media only screen and (max-width : 680px) {
	.content {
		width: 670px;

		#logo a img {
			height: 114px;
			width: 300px;
			margin-bottom: 10px;
		}
	}
	.feature-container {
		height: 263px;

		.title-card {
			margin-top: 185px;
			margin-left: 30%;
			height: 25%;
			width: 45%;
		}
	}
	.article-row .article-card, .explore-row .article-card {
		height: 200px;
		width: 300px;
		margin: 15px 2px 35px 2px;
	}
	
	body::before{ content: "Tablet media query (< 680) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9);  position: absolute; top: 0; left: 0; right: 0; z-index: 99; } 
}
*/
/* iphone landscape */
/* --------------------------------------------- */
/*
@media only screen and (max-width : 620px) {
	.content {
		width: 600px;

		#logo a img {
			height: 114px;
			width: 300px;
			margin-bottom: 20px;
		}
	}
	.feature-container {
		height: 263px;

		.title-card {
			margin-top: 185px;
			margin-left: 30%;
			height: 25%;
			width: 45%;
		}
	}
	.article-row .article-card, .explore-row .article-card {
		height: 250px;
		width: 350px;
		margin: 15px 10px 35px 10px;
	}
	
	body::before{ content: "Tablet media query (< 580) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9);  position: absolute; top: 0; left: 0; right: 0; z-index: 99; } 
}
*/
/* Mobile portraight first */
/* --------------------------------------------- */
/*
@media only screen and (max-width : 450px) {
	.content { 
		width: 300px;

		#logo a img {
		  height: 73px;
		  width: 192px;
			margin-bottom: 25px;
		}
	}
	.feature-container {
		height: 111px;
	
	  .title-card {
	    margin-top: 83px;
			margin-left: 15%;
	    height: 35%;
			width: 65%;
		}
	}
	.article-row .article-card, .explore-row .article-card {
		height: 200px;
		width: 300px;
		margin: 15px 10px 35px 10px;
	}
	
	body::before{ content: "Tablet media query (< 450) fired"; font-weight: bold; display: block; text-align: center; background: rgba(255,255,0, 0.9);  position: absolute; top: 0; left: 0; right: 0; z-index: 99; } 
}
*/

$break-small: 320px;
$break-medium: 768px; /* iphone */
$break-large: 1010;

$light-grey: #e6e6e6;
$med-grey: #595959;
$dark-grey: #4D4D4D;

$light-blue: #0063cc;
$med-blue: #004b99;
$dark-blue: #00254d;

$red: #e60000;

$fb-blue: #004b99;


/* app css stylesheet */
body {
  /*font-family: helmut, freesans, helvetica;*/
  font-family: $sans-serif-fonts;
  font-size: 14px;
}

/* GENERAL FORMATTING */
.left { text-align: left; }
.center { text-align: left; }
.right { text-align: left; }

.required { color: $red; }

.form-error {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-top: -2px;
  margin-left: -10px;
  
  color: $red;
  font-size: .65rem;
  font-weight: bold;
}

.byline {
  font-size: .75rem;
}

textarea { font-family: $sans-serif-fonts; }

/* HEADER */
/* ----------------------------------------------------------- */
.content {
  margin: 0 auto;
  
	#logo {
	  text-align: center;
	  z-index: 9999;
	}
	
  /* HEADER */
  /* ---------------------------------------------- */
  header {
    .menu {
      margin-top: -30px;
      position: relative;
  
      z-index: 9990;
  
      text-transform: uppercase;
      letter-spacing: 1px;
  
      overflow: hidden;
  
      border: none;
      border-bottom: #e6e6e6 2px solid;
  
      .nav li {
        display: inline;
        margin-right: 20px;
    
        a {
          text-decoration: none;
          font-size: .9rem;
          color: $med-grey;
        }
        a.selected {
          font-weight: bold;
          color: $dark-grey;
        }
      }

      #menu-left {
        float: left;
        margin: 5px 0 -5px -10px;
      }
      #menu-right {
        margin-top: 17px;
        margin-right: 25px;
        float: right;
      }
    }
  }

  /* MAIN PAGE CONTENT */
  /* ---------------------------------------------- */
  main {
    margin-top: 5px;
    padding: 10px 20px;
    
    div {
      padding: 0 auto;
    }
  }

  /* FOOTER */
  /* ---------------------------------------------- */
  footer {
    position: relative;
    text-align: center;

    z-index: 9990;

    text-transform: uppercase;
    letter-spacing: 1px;

    overflow: hidden;

    border: none;
    border-top: #e6e6e6 2px solid;
  
    .nav li {
      display: inline;
      margin-right: 50px;
  
      a {
        text-decoration: none;
        font-size: .8rem;
        color: $med-grey;
      }
    }
  }
}

/* STATIC PAGES */
/* ------------------------------------------------------------ */
.static-page {
  position: relative;
  text-align: center;
  
  overflow: auto;
  
  #static-menu {
    text-transform: uppercase;
    letter-spacing: 1px;

    overflow: hidden;

    border: none;
    
    .nav li {
      display: inline;
      margin-right: 20px;
    
      a {
        text-decoration: none;
        font-size: .8rem;
        color: $med-grey;
      }
      a.selected {
        font-weight: bold;
        color: $dark-grey;
      }
    }
  }
  
  article .content-container {
/* TODO: Figure out if this is what makes the images scroll */
    max-width: 650px;
  }

  .content-container {
    border: 1px solid #ccc;
    margin: 58px auto 65px auto; 
    padding: 0 20px 10px;
  
    overflow: auto;
    
    li{ 
      padding: 5px 0;
     }

    h2 {
      background: #fff;
      margin: 13px auto 32px;
      padding: 0 10px;
      width: 40%;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: normal;
    }
  
    form {
      text-align: left;
      padding: 20px 0;
    
      font-size: 1rem;
    
      label {
        display: inline-block;
        width: 200px;
        text-align: right;
        vertical-align: top;
      }
    
      ul {
        padding-left: 25px;
      }
    
      input, textarea {
        font-size: 1rem;
        margin-bottom: 15px;
        padding: 5px;
        border: $med-grey .5px solid;
      }
    
      input[type="text"], input[type="email"], textarea {
        width: 250px;
        border-radius: 4px;
      }
    
      input[type="submit"] {
        width: 200px;
        border-radius: 8px;
        color: #fff;
        background-color: $light-blue;
        margin-top: 10px;
        text-transform: uppercase;
        border: none;
      }
    
      .field_with_errors {
        display: inline;
      }
    }
  }
}

/* FEATURES */
/* ------------------------------------------------------------ */
.feature-container {
  width: 98%; 

  margin: 1px auto 35px auto;
	
	.feature-card {
		position: relative;
		float: left;
		height: 100%;
		width: 100%;
		
	  background-color: $light-grey;
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
	  background-size: cover;
		
	  box-shadow: 0 0 3px 3px white inset;

	  .title-card {
	    position: relative;
			float: left;
	    vertical-align: bottom;
  
	    color: #000;
			text-align: center;
			font-size: 1.2rem;
			
	    background-color: #FFF;
	    opacity: 1;
  
	    padding: 8px;
	  }
	}
}

/* ARTICLES */
/* ------------------------------------------------------------ */
.article-separator {
  width: 50%;
  margin: 0 auto;
  
  hr {
    color: $light-grey;
  }
  
  .article-title {
    margin-bottom: 0px;
    color: $med-grey;
  }
}

.article-title {
  text-align: center;
  text-transform: uppercase;
  font-family: $sans-serif-fonts;
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 25px;
  letter-spacing: 8px;
  padding-left: 10px;
}

.article-container {
  overflow: auto;
}

.article-row, .explore-row {
	position: relative;
	float: left;
 /* width: 98%; */
  margin: 0 auto;

  .new-row {
    clear: left;
  }
  
  .article-card {
    position: relative;
    float: left;
  
    background-color: $light-grey;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 0 3px 3px white inset;
  
    .title-card {
      margin-top: 45%;
      position: relative;
      vertical-align: bottom;
      height: 55px;
      overflow: hidden;
    
      color: #000;
    
      background-color: $light-grey;
      opacity: 0.9;
    
      padding: 8px;
    
      h4 {
        height: 38px;
        overflow: hidden;
        margin-top: 5px;
      
        font-size: .9rem;
      
        a {
          width: 95%;
          color: #000;
          font-weight: 50;
          margin-bottom: 5px;
          text-decoration: none;
        }
      }
      p {
        font-family: $serif-fonts;
        font-size: 0.75rem;
        width: 95%;
        max-lines: 3;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  
  .explore-card {
    position: relative;
    float: left;
    
    height: 200px;
    width: 200px;
    
    margin: 5px 5px;
    
    background-color: $light-grey;
    background-repeat: no-repeat;
    background-size: cover;
    
    .title-card {
      margin-top: 51%;
      position: relative;
      vertical-align: bottom;
      height: 60px;
      overflow: hidden;
      
      background-color: $light-grey;
      opacity: 0.9;
      
      padding: 8px;
      
      h4 a {
        width: 95%;
        color: #000;
        font-weight: 50;
        text-decoration: none;
        margin-bottom: 5px;
      }
    }
  }
}

a.admin-links {
  text-decoration: none;
  margin-left: 15px;
  
  background-color: $med-blue;
  font-size: .85rem;
  font-weight: bold;
  color: #FFF;
  padding: 2px 8px;
  
  border-radius: 8px;
}

.admin-form {
  
  form {
    text-align: left;
    font-size: 1rem;
    
    .field-group {
      margin: 10px 0;  
    }
  
    label {
      display: inline-block;
      width: 200px;
      text-align: right;
      vertical-align: middle;
    }
  
    ul {
      padding-left: 25px;
    }
  
    input, textarea {
      font-size: 1rem;
      color: $med-grey;
      margin-bottom: 15px;
      padding: 5px;
      border: $light-grey 1px solid;
    }
  
    input[type="text"], input[type="email"], input[type="url"], textarea {
      width: 450px;
      border-radius: 4px;
    }
    
    select {
      color: $med-grey;
      border: $light-grey 1px solid;
      width: 465px;
      font-size: 1rem;
      padding: 5px;
    }
  
    input[type="submit"] {
      width: 200px;
      border-radius: 8px;
      color: #fff;
      background-color: $med-blue;
      margin-top: 10px;
      text-transform: uppercase;
      border: none;
    }
  
    .field_with_errors {
      display: inline;
    }
  }
  
  .tabular-association {
    width: 95%;
    margin: 10px auto;
    
    border: #000 1px solid;
    padding: 5px 10px;
    
    table {
      margin-top: 15px;

      th {
        background-color: $med-blue;
        border-radius: 5px;
        color: #FFF;
        padding: 5px;
        
        a {
          color: #FFF;
        }
      }
    
      td {
        font-size: .8rem;
        border: $light-grey 1pt solid;
      }
    }
  }
}

/*
.contact, .about, .terms {
  text-align: center;  
  width: 100%;

  .interest {
    text-align: center;
    margin: 100px auto 40px auto;  

    .nav{
    
      a {
        margin-top: 100px;
        letter-spacing: 1px;
        color: #4D4D4D;
        padding-right: 60px;
        text-transform: uppercase;
        padding:0 20px 10px;
      }
      a.open {
        font-weight: bold;
      }
    }
  }
}

.contact > .boxstyle1 {
  text-align: left;
}
.boxstyle1, .boxstyle2{

  border: 1px solid #ccc;
  margin: 58px auto 65px; 
  padding: 0 20px 10px;

  li{ 
    padding: 5px 0;
   }

  h2 {
    background: #fff;
    margin: 13px auto 32px;
    padding: 0 10px;
    width: 450px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  label {
    text-align: left;
  }
  input[type="text"], input[type="email"] {
    width: 300px;
  }
  button {
    width: 200px;
    color: #fff;
  }
  
  .message {
    font-size: 1rem;
  }
}
.boxstyle1{
  max-width: 650px;
  text-align: center;

}
.boxstyle2{
  max-width: 650px;
  text-align: left;
}

body > div > div > .container-fluid {
  padding-top: 80px;
  
  margin-right: auto;
  margin-left: auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  z-index: 9999;
  
  text-transform: uppercase;
  letter-spacing: 1px;
  
  border: none;
  border-bottom: #e6e6e6 2px solid;
}

.navbar-default .navbar-nav, .navbar-form {
  padding-top: 25px;
}

main { 
  margin-top: 80px;
}

footer {
  border-top: #e6e6e6 2px solid;
  padding-top: 5px;
}

.left {
  position: relative;
  float: left;
}

.message {
  font-size: 1.3rem;
  text-align: center;
}

.load-more {
  text-align: center;
}

.latest-section {
  text-align: left;
}

.category {
  width: 150px;
  height: 150px;
  
  margin: 0 15px 25px 5px;
  
  list-style-type: none;
  
  hr {
    color: #e6e6e6;
  }
  
  a {
    cursor: pointer;
  }
    
  .thumbnail{
    width: 100%;
    height: 150px;
    
    opacity: 0.5;
    
    background-color: #0d0d0d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: none;
    border-radius: 0;
    
    position: absolute;
    left: 0;
    top: 0;
  }
    
  a > h2 {
    color: #000;
    font-size: 1.2rem;
    text-align: center;
    
    position: relative;
    padding-top: 50px;
    z-index: 5;
  }
}

.deep-dive {
  position: relative;
  text-align: center;
  
  .topic { 
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    
    .interest {
      width: 850px;
      
      @media screen and (max-width: $break-medium) {
        width: 360px;
      }
      @media screen and (max-width: $break-large) {
        width: 850px;
      }
    }
    .interest-small {
      width: 650px;
      
      @media screen and (max-width: $break-small) {
        width: 200px;
      }
      @media screen and (max-width: $break-medium) {
        width: 200px;
      }
      @media screen and (max-width: $break-large) {
        width: 650px;
      }
    }
    
    .interest, .interest-small {
      overflow: hidden;
      
      margin: 0 auto;
    
      .sibling, .secondary {  
        float: left;
        margin: 0 5px 0 5px;
        
        a > h2, h2 {
          width: 98%;
          position: relative;
          top: 100px;
          
          color: #000;
          text-decoration: none;
          word-wrap: break-word;
          font-size: 0.8rem;
          font-weight: bold;
        
          cursor: pointer;
          z-index: 50;
        }
      }
      
      .nav {
        display: inline;
        
        a {
          letter-spacing: 1px;
          color: #4D4D4D;
        }
        a.open {
          font-weight: bold;
        }
      }
      
      .thumbnail {
        opacity: 0.5;
      }
  
      .primary, .primary > a {
        font-size: 1.3rem;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
  
      .primary{
        position: relative;
        top: 40px;
      }
  
      .sibling {
        .thumbnail {
          width: 315px;
          height: 150px;
        }
      }
      
      .secondary {
        .thumbnail {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

.category-main {
  @extend .category;
  
  width: 830px;
  height: 50px;
  
  margin-bottom: 10px;
  
  .thumbnail {
    opacity: 0.6;
  }
  
  a > h2, h2 {
    font-size: 1.8rem;
    padding-top: 0;
  }
}

.category-partner {
  @extend .category;
  
  width: 315px;
  
  .thumbnail {
    opacity: 0.6;
  }
  
  a > h2 {
    font-size: 1.8rem;
  }
}

.mariner-column {
  height: 450px;
  
  .compress {
    height: 350px;
  }
  
  padding: 0 5px 0 5px;
  margin: 0 auto 15px auto;
  
  list-style-type: none;
  
  text-align: left;
  
  overflow: hidden;
  
  hr {
    color: #e6e6e6;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  a {
    cursor: pointer;
  }
  
  .media {
    width: 100%;
    height: 180px;
    
    padding: 0 0 0 0;
    margin: 5px 0 5px 0;
    
    .thumbnail {
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      border: none;
      border-radius: 0;
      
      .facebook-share-button, .email-share-button {
        position: absolute;
        top: 0;
        right: 0;
  
        width: 25px;
        height: 25px;
        
        background-color: #004b99;
        border: 1 solid #004b99;
        border-radius: 50;
        padding: 2px 2px 2px 2px;
      }

      .facebook-share-button {
        padding-top: 2px;
      }
      .email-share-button {
        margin-top: 25px;
      }
      
      div.play-button { 
        height: 72px; 
        width: 72px; 
  
        left: 50%; 
        top: 50%; 
  
        margin-left: -36px; 
        margin-top: -36px; 
        position: relative; 
        background: url("http://i.imgur.com/TxzC70f.png") no-repeat; 
      
        cursor: pointer;
      }
    }
  }
  .title {
    width: 95%;
    color: #000;
    font-weight: 50;
    margin-bottom: 5px;
  }

  .byline, .byline a {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .categories {
    margin: 10px 0 10px 0;
  }
  .publishers {
    margin-bottom: 10px; 
  }
  
  .snippet {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 0.75rem;
    width: 95%;
    max-lines: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.layout-small {
  @extend .col-md-3 !optional;
  @extend .mariner-column;
  
  width: 210px;
  
  .media{
    position: relative;
    width: 100%;
    height: 180px;
    
    iframe { 
      width: 210px;
      height: 180px;
    }
    
    .thumbnail {
      position: relative;
      height: 180px;
    }
  }
}
.layout-medium {
  @extend .col-md-4 !optional;
  @extend .mariner-column;
  
  width: 460px;
  
  .media{
    position: relative;
    width: 100%;
    height: 250px;
    
    iframe { 
      width: 98%;
    }
    
    .thumbnail {
      position: relative;
      height: 250px;
    }
  }
}

.layout-large {
  @extend .mariner-column;
  @extend .col-md-6 !optional;
  
  width: 685px;

  .media{
    position: relative;
    width: 100%;
    height: 360px;

    iframe { 
      width: 98%;
      height: 98%;
    }
  
    .thumbnail {
      position: relative;
      height: 360px;
  
      .full-screen {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 10px;
      }
    }
    .title, .byline, .byline a {
      color: #f2f2f2;
      text-shadow: 1px 1px #262626;
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 10px;
      font-size: 1.2rem;
    }
  }
}
.layout-text {
  @extend .layout-small;
  
  height: 420px; 
  
  .double {
    height: 175px;
    
    margin-bottom: 20px;
    overflow: hidden;
    
    .thumbnail {
      width: 210px;
      height: 129px;
      
      .title, .byline, .byline a {
        color: #f2f2f2;
        text-shadow: 1px 1px #262626;
      }
      .title {
        padding-top: 75px;
      }
    }
    
    .categories {
      margin: 10px 0 10px 0;
    }
    
  }
}

.col-md-12 {
  text-align: center;
  
  list-style-type: none;
}


.btn-primary {
  
  margin-top: 35px;
  margin-bottom: 35px;
  
  border-radius: 25px;
  padding: 8px 45px 10px 45px;
  
  color: #4D4D4D;

  .disabled {
    opacity: 0.65; 
    cursor: not-allowed;
  }
}

a {
  color: #004b99;
}

h1, h2, h3, h4 {
  color: #333333;
}

h2 > a,
h2 > a:hover,
h2 > a:focus, 
nav > li > a,
.btn-default,
.col-md-4 > a > .title,
.publisher > .description {
  color: #4D4D4D;
}

.col-md-4 > .byline > a,
.col-md-4 > .byline > a > span {
  color: #0000cc;
}

.byline,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-footer .navbar-nav > li > a,
.navbar-footer .navbar-nav .open .dropdown-menu > li > a {
  color: #595959;
}

.navbar {
  background: #FFF;
}

.thumbnail,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  background: none;
  background-color: none;
}


h2,
h2 > a {
  font-size: 1.2rem;
  
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  font-weight: 600;
  letter-spacing: 0.5px;
}

h4,
h4 > a {
  font-size: 0.8rem;
  
  letter-spacing: 1px;
}

.title {
  font-size: .95rem;
}

.byline,
.col-md-4 > .byline > a,
.col-md-4 > .byline > a > span {
  font-size: .8rem;
}

.snippet,
.publisher > .description {
  font-size: .7rem;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  font-size: 1rem;
}


.navbar {
  margin-bottom: 0;
  border: none;
}
.navbar-right {
  float: right;
}
.navbar .fb-like {
  padding: 40px 15px 0 0;
  opacity: 0.8;
}

.login {
  padding-top: 25px;
}

.message { 
  padding: 10px 0 25px 10px;
}

.container-fluid .center {
  text-align: center;
}

.publisher {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  max-width: 450px;
}

.publisher > img {
  width: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.publisher > .description {
  text-align: left;
  padding: 5px 0 10px 0;
}

.snippet {
  padding: 5px 0 10px 0;
}

.category-links {
  padding: 5px 3px 10px 0;
  text-decoration: underline;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

div.flex-container {
  margin: 5px auto 5px auto;
  text-align: center;
}

ul.flex-row.row {
  text-align: center;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.flex-row.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-wrap: wrap;
  
}
.flex-row.row > .col-md-4 {
  display: flex;
  flex-direction: column;
  
  overflow: hidden;
}

.col-md-12.section-heading  {
  text-align: left;
}
.col-md-12.section-heading > h3 {
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.deep-dive{
  .topic {
    .interest{
      .dive-link {
        a h2{
          font-size: .95rem;
          margin-bottom: 35px;
        }
        a:hover h2, a:focus h2 {
          color: #004b99;
        }
      }
    }
  }
}
*/