<div>
  <h2 class="article-title"><%= @category.name %></h2>
	<hr />
  <%= render partial: 'shared/articles', 
             locals: {articles: @category.articles.where(active: true).order(publication_date: :desc)} %>
</div>