<nav class="navbar navbar-footer" ng-controller="MenuController">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= about_path %>">About</a></li>
        <li><a href="<%= new_contact_path %>">Contact</a></li>
        <li><a href="<%= advertise_path %>">Advertise</a></li>
      </ul>
    </div>
  </div>
</nav>